page-quote-detail {
    #detail-view {
        background-color: #ddd;
        ion-card {
            margin-top: 40px;
        }
    }

    #movie-title {
        color: #888;
        text-align: right;
        margin-top: 8px;
        &:before {
            content: '-';
        }
    }

}
